<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Rubberducky Productpage</title>
</head>
<div id="app">
    <header>
        <div id="logo"><img src="img/rubberducky.png" width=200px></div> 
                           
        <div class="search">
            <form>
                <div class="form-box">
                <input type="text" class="search-field business"
                placeholder="Search for ducks by color, size or costume...">

                <button class="search-btn"
                type="form-button">Search</button>
                </div>
            </form>
          </div>

        <div id="basket" >
            Basket
        </div>
    </header>
    <body>
        <main>  
        <section id="alphamiddle">

            <div id="headline">List of All Products</div>

                <div id="alphamiddlebox">
                    <div class="middlebox">
                        <div class="category_img"><img src="img/colorduck.png" alt="producthere" width="260" height="260"></div>
                        <a href="#" class="link_button">VIEW MORE</a>
                    </div>
                </div>                                                  
        </section>
        </main>
<footer></footer>
</body>
</div>
</html>
